html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}



html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.text-small {
    font-size: 85%;
}

.dropdown-toggle:not(:focus) {
    outline: 0;
}

.my-bg-light {
    background-color: #FFFFFF;
}

.my-bg-dark {
    background-color: #394A58;
}

.my-bg-primary {
    background-color: #E21A1A;
}

.forum-icon::before {
    content: url(/src/people.svg);
    padding: 1vh;
}

.topic-icon::before {
    content: url(/src/question-circle.svg);
    padding: 1vh;
}