@{
    ViewData["Title"] = "Вопрос";
    Layout = "../Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <h2>Это форум технической поддержки РЖД-ТехСервис</h2>
    <div class="pb-3">

        @RenderBody()
    </div>
</div>
