@model SupportForum.Models.Feedback
@{
    ViewData["Title"] = "Обратная связь";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
            <img src="/src/logo_rzd-ts-vert.svg" title="ООО «РЖД-ТехСервис»" width="200" class="my-4">
            <h5>
                Благодарим за помощь!<br />Нам важно Ваше мнение.
            </h5>
        </div>

        <form class="needs-validation col-md-7 col-lg-6">
            <div class="col-12">
                <label asp-for="type" class="form-label">Причина обращения</label>
                <select asp-for="type" class="form-select" id="country" required="">
                    @foreach (FeedbackType type in Enum.GetValues(typeof(FeedbackType)))
                    {
                        <option value="@type">@type.ToString()</option>
                    }
                </select>
            </div>
            <div class="col-12 my-4">
                <label asp-for="message" class="form-label">Текст обращения</label>
                <textarea asp-for="message" type="text" class="form-control" id="message" placeholder="Текст обращения"></textarea>
            </div>
            <button class="w-100 btn btn-primary btn-lg" type="submit">Отправить</button>
        </form>
    </div>
</div>