

@{
    ViewData["Title"] = "Home Page";
    Person tom = new Person("Tom", 37);
    //Layout = "../Shared/_BaseLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome, <b>@tom.Name</b>!</h1>
    <p>Вам правда @tom.Age лет?</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-page="/About">О приложении</a>
</div>
@section Footer{
        Copyright© РЖД-ТехСервис, @DateTime.Now.Year. All rights reserved
}