@model IEnumerable<SupportForum.Models.TblForum>

@{
    ViewData["Title"] = "Index";
    Layout = "_Forum.cshtml";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm())
{
    <div class="treeview">
        @{
            ShowTreeData(Model.Where(w => w.IdParent == null).Select(s => s));
        }

    </div>
}

@functions {

    public void ShowTreeData(IEnumerable<SupportForum.Models.TblForum> model)
    {
        <ul class="list-group">
            @foreach (var item in model)
            {
                <li class="list-group-item node-treeview10">
                    <span class="icon expand-icon glyphicon glyphicon-minus"></span>
                    <span class="icon node-icon"></span>
                    <a href="#" style="color:inherit;">@Html.DisplayFor(modelItem => item.Title)</a>
                    <a href="/Forum/Edit/@item.Id">Edit</a> |
                    <a href="/Forum/Details/@item.Id">Details</a> |
                    <a href="/Forum/Delete/@item.Id">Delete</a>
                    @if (item.InverseIdParentNavigation.Any())
                    {
                        ShowTreeData(item.InverseIdParentNavigation);
                    }
                </li>
            }
        </ul>
    }
}

